 
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
}

.steps {
  /* background: red; */
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
}

.container-steps {
  width: 60rem;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 2.5rem 15rem;
  margin: 10rem auto;
  border: #33333300 solid 1px;

  -webkit-box-shadow: 7px 9px 20px -1px rgba(117, 117, 117, 0.65);
  -moz-box-shadow: 7px 9px 20px -1px rgba(117, 117, 117, 0.65);
  box-shadow: 7px 9px 20px -1px rgba(117, 117, 117, 0.65);
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.numbers .active {
  background-color: #FFDE17;
  color: #393835;
  font-weight: bold;
}

.message {
  text-align: center;
  font-size: 20px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  /* text-align: center; will not work */
  justify-content: center;
  gap: 10px;
}

.buttons button span {
  font-size: 16px;
  line-height: 1;
}

.btn {
  background-color: #242526 ;
  color: #fff;
  width: 10rem;
  transition: ease-in-out .3s;
}

.btn:hover{
  background-color: #393835;
  color: #FFDE17;
  /* position: relative;
  top: .1rem; */
}



h3 {
  margin: 0;
  text-transform: uppercase;
}

.close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  width: 4.9rem;
  background-color: #202020;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 4rem;
  transition: ease-in-out .3s;
}

.close:hover {
  color: #FFDE17;
  background-color: #393835;
  
}